body {
  margin: 0;
  width: 100%;
  height: 100%;
  background:#0280E4;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#main {
  width: 100%;
  height: 100%;
}
.answer {
  width: 100%;
  height: auto;
  color: #777777;
  font-size: 10px;
}
.introduce {
  width: auto;
  height: auto;
  overflow:hidden;/*由于用了float,为了让子元素撑满父元素*/
  background:#FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:4px;
  padding-bottom:2px;
}
.introduce  .user {
  color: #138CEC;
  float:left;
}
.introduce  .action {
  color: #777777;
  float:left;
}
.introduce  .photo {
  width: 15px;
  height: 15px;
  float:right;
}
.introduce:active {
  background:#0280E4;
}
.introduce:active  .user,.introduce:active  .action {
  color: #FFFFFF;
}

.title {
  width: auto;
  height: auto;
  color: #111111;
  font-size: 13px;
  clear: both;
  padding-left:10px;
  padding-right:10px;
  padding-top:8px;
  padding-bottom:4px;
  /*border: 1px solid red;*/
}
.title:active {
  color: #FFFFFF;
  background:#0280E4;
}

.content {
  width: auto;
  height: auto;
  overflow:hidden;/*由于用了float,为了让子元素撑满父元素*/
  padding-left:10px;
  padding-right:10px;
  padding-top:4px;
  padding-bottom:8px;
}
.content  .c_count {
  position: absolute;
  width: 23px;
  color: #FFFFFF;
  background-color: #138CEC;
  border-radius: 3px;  /*圆角*/
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}
.content .c_text{
  float: left;
  width: auto;
  margin-left:30px;
}
.content:active {
  background:#0280E4;
}
.content:active .c_count {
  color: #0280E4;
  background:#FFFFFF;
}
.content:active .c_text {
  color: #FFFFFF;
}

.line {
  height: 1px;
  background-color: #999999;
  clear: both;
}