.push {
  width: 100%;
  height: auto;
  color: #979797;
  background:#FFFFFF;
  font-size: 10px;
}
.introduce,.title,.answer {
  padding-left:10px;
  padding-right:10px;
  padding-top:4px;
  padding-bottom:4px; }
.introduce {
  width: auto;
  height: auto;
  overflow:hidden;/*由于用了float,为了让子元素撑满父元素*/
}
.introduce  .user {
  color: #66B2E2;
  float:left;
}
.introduce .touch {
  color: #FFFFFF !important;
}
.introduce  .action {
  float:left;
}
.introduce  .photo {
  width: 15px;
  height: 15px;
  float:right;
}

.title {
  width: auto;
  height: auto;
  color: #111111;
  font-size: 13px;
  clear: both;
  /*border: 1px solid red;*/
}

.answer {
  width: auto;
  height: auto;
  overflow:hidden;/*由于用了float,为了让子元素撑满父元素*/
  padding-bottom:8px;
}
.answer  .a_count {
  position: absolute;
  width: 23px;
  color: #FFFFFF;
  background-color: #66B2E2;
  border-radius: 3px;  /*圆角*/
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}
.answer .touch {
  color: #1F8EEA !important;
  background-color: #FFFFFF !important;
}
.answer .a_text{
  float: left;
  width: auto;
  margin-left:30px;
}