#relative{
  border-bottom: 1px dashed #999999;
  overflow:hidden;
  padding-top:5px;
  padding-bottom:5px;
}
#relative .topic{
  color: #0280E4;
  background-color: #D3EBF7;
  border-radius: 3px;
  width: auto;
  line-height: 20px;
  height: 20px;
  float: left;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}
#relative #more{
  display:block;
  height:20px;
  width:20px;
  float: right;
}

#titles,#state,#operte {
  padding-left: 5px;
  padding-right: 5px;
}
#titles #title{
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
}
#titles #descrip{
  padding-bottom: 13px;
}

#state {
  line-height: 30px;
  height: 30px;
  overflow:hidden;
  padding-top: 2px;
  padding-bottom: 0px;
}
#state .state_icon{
  float: left;
}
#state .state_icon img{
  vertical-align:middle;
  height:12px;
  width:12px;
}
#state .state_icon span{
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

#state #attention_btn {
  color: #FFFFFF;
  background-color: #1DB576;
  border-radius: 3px;
  box-shadow: #999 1px 1px 1px;
  float: right;
  text-align: center; 
  width: auto;
  height:20px;
  line-height: 20px;
  margin-top:4px;
  padding-left: 20px;
  padding-right: 20px;
}

#operate .oper_btn {
  text-align:center;
  line-height: 30px;
  float: left;
  width: 50%;
  height:30px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #BBBBBB;
  border-top: 1px solid #BBBBBB;
}
#operate .oper_btn img{
  vertical-align:middle;
  padding-right:15px;
  height:15px;
  width:15px;
}

.answer{
  clear: both;
  padding: 8px;
  padding-bottom:10px;
}
.answer .reply .touch {
  color: #1F8EEA !important;
  background-color: #FFFFFF !important;
}
.answer .replier .photo{
  float: left;
  width: 22px;
  height: 22px;
}
.answer .replier .name{
  float: left;
  padding-left:8px;
}
.answer .reply{
  clear: both;
  overflow:hidden;
}
.answer .reply .agree{
  position: absolute;
  float:left;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #66B2E2;
  margin-top:5px;
}
.answer .reply .content{
  float:left;
  padding-left:8px;
  margin-left:22px;
}