.push {
  width: 100%;
  height: auto;
  color: #777777;
  font-size: 10px;
}
.introduce,.title,.answer {
  padding-left:10px;
  padding-right:10px;
  padding-top:4px;
  padding-bottom:4px; }
.introduce {
  width: auto;
  height: auto;
  overflow:hidden;/*由于用了float,为了让子元素撑满父元素*/
  background:#FFFFFF;
}
.introduce  .user {
  color: #138CEC;
  float:left;
}
.introduce  .action {
  color: #777777;
  float:left;
}
.introduce  .photo {
  width: 15px;
  height: 15px;
  float:right;
}
.introduce:active {
  background:#0280E4;
}
.introduce:active  .user,.introduce:active  .action {
  color: #FFFFFF;
}

.title {
  width: auto;
  height: auto;
  color: #111111;
  font-size: 13px;
  clear: both;
  /*border: 1px solid red;*/
}
.title:active {
  color: #FFFFFF;
  background:#0280E4;
}

.answer {
  width: auto;
  height: auto;
  overflow:hidden;/*由于用了float,为了让子元素撑满父元素*/
  padding-bottom:8px;
}
.answer  .a_count {
  position: absolute;
  width: 23px;
  color: #FFFFFF;
  background-color: #138CEC;
  border-radius: 3px;  /*圆角*/
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}
.answer .a_text{
  float: left;
  width: auto;
  margin-left:30px;
}
.answer:active {
  background:#0280E4;
}
.answer:active .a_count {
  color: #0280E4;
  background:#FFFFFF;
}
.answer:active .a_text {
  color: #FFFFFF;
}